body {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000000;
  color: white;
}

#clock {
  border-radius: 50%;
  height: 500px;
  width: 500px;
  border: 10px solid white; 

}
#clock-face{
  position: relative;
  height: 100%;
  width: 100%;
transform: translateY(-3px);

}

.hand {
  height: 6px;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

#second {
  background-color: rgb(13, 49, 255);
  width: 40%;
  right: 50%;
}

#min {
  background-color: rgb(211, 21, 211);
  width: 45%;
  right: 50%;
}

#hour {
  background-color: rgb(33, 209, 33);
  width: 30%;
  right: 50%;
}
